<html>
    <head>
        <title>Opa! Dashboard</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="scripts" href="static/js/script.js">
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
    </head>
    <body>
        <nav class="topbar">
            <div class="brand">
            </div>
            <h1>Dashboard</h1>
            <input class="search" type="search" name="s" placeholder="Pesquisar...">
        </nav>
    
        <section class="home">    
            
            <div class="avatar">
            </div>
            
            <h3 id="name">Romulo Matteoni</h3>
            <h3 id="company">Padaria Já Pão</h3>
            
            <input type="checkbox" id="location" name="location" class="location" />
            <label for="location" name="location" id="lb-location">Local</label> 
            
            <input type="checkbox" id="product" name="product" class="product" />
            <label for="product" name="product" id="lb-product">Produtos</label>
            
            <input type="checkbox" id="campaign" name="campaign" class="campaign" />
            <label for="campaign" name="campaign" id="lb-campaign">Campanhas</label>
            
            
            <div class="cardlocation">
            <h3 class="cardtitle">Local</h3>
            <h3 class="ctopened">Local</h3>
            <div class="cardcontent"></div>
            </div>
            
            <div class="cardproduct">
            <h3 class="cardtitle">Produtos</h3>
            <h3 class="ctopened">Produtos</h3>
            <div class="cardcontent"></div>
            </div>
            
            <div class="cardcampaign">
            <h3 class="cardtitle">Campanhas</h3>
            <h3 class="ctopened">Campanhas</h3>
            <div class="cardcontent"></div>
            </div>
            
        </section>
        
    </body>
</html>
