<html>
    <head>
        <title>Opa! Dashboard</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="scripts" href="static/js/script.js">
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
    </head>
    <body>
        <nav class="topbar">
            <div class="brand">
            </div>
            <h1>Dashboard</h1>
            <input class="search" type="search" name="s" placeholder="Pesquisar...">
        </nav>
        <nav class="sidemenu">

        </nav>
        <section class="home">
        <nav class="dock">
            <button id="local">Local</button>
            <button id="campaigns">Campanhas</button>
            <button id="products">Produtos</button>
            <button id="galery">Galeria</button>
            <button id="promote">Promoções</button>
            <button id="notifications">Notificações</button>
        </nav>   
        </section>
        
    </body>
</html>
