<html>
    <head>
        <title>Opa! Dashboard</title>
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/script.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
        <script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(-22.9561559,-43.19218219999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-22.9561559,-43.19218219999999)});infowindow = new google.maps.InfoWindow({content:'<strong>Padaria JáPão</strong><br>Rua Real Grandeza, 183<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <nav class="topbar">
            <div class="brand">
            </div>
            <h1>Dashboard</h1>
            <input class="search" type="search" name="s" placeholder="Pesquisar...">
        </nav>
    
        <section class="home">    
            
            <div class="avatar">
            </div>
            
            <h3 id="name">Romulo Matteoni</h3>
            <h3 id="company">Padaria JáPão</h3>
            
            <input type="checkbox" id="location" name="location" class="location" />
            <label for="location" name="location" id="lb-location" class="lb-menu">Estabelecimento</label> 
            
            <input type="checkbox" id="product" name="product" class="product" />
            <label for="product" name="product" id="lb-product" class="lb-menu">Produtos</label>
            
            <input type="checkbox" id="campaign" name="campaign" class="campaign" />
            <label for="campaign" name="campaign" id="lb-campaign" class="lb-menu">Campanhas</label>
            
             <input type="checkbox" id="galery" name="galery" class="galery" />
            <label for="galery" name="galery" id="lb-galery" class="lb-menu">Galeria</label>
            
             <input type="checkbox" id="promotion" name="promotion" class="promotion" />
            <label for="promotion" name="promotion" id="lb-promotion" class="lb-menu">Promoções</label>
            
             <input type="checkbox" id="notify" name="notify" class="notify" />
            <label for="notify" name="notify" id="lb-notify" class="lb-menu">Notificações</label>
            
            <button id="logout" class="logout">Sair</button>
            <button id="config" class="config">Configurações</button>
            
            <div class="fixedcard">
            <h3 class="fixedtitle">Rankings</h3>
            <input type="radio" id="button-1" name="controls" checked="checked" class="option-rank"/>
            <label for="button-1" class="lb-rank"></label>
            <input type="radio" id="button-2" name="controls" class="option-rank"/>
            <label for="button-2" class="lb-rank"></label>
            <input type="radio" id="button-3" name="controls" class="option-rank"/>
            <label for="button-3" class="lb-rank"></label>
            <input type="radio" id="button-4" name="controls" class="option-rank"/>
            <label for="button-4" class="lb-rank"></label>
            <input type="radio" id="button-5" name="controls" class="option-rank"/>
            <label for="button-5" class="lb-rank"></label>
            
            <div class="rankcard" id="rank1">
                <h3 class="insidetitle">Estabelecimentos</h3>
                <div class="rankspot">
                <div class="spotthumb"></div>
                <label class="spotname">Peter Coyote Curso de Culinária</label>
                <label class="spotaddress">Rua São João Batista, 251</label>
                <label class="spotplace">1°</label>
                </div>
                <div class="rankspot2">
                <div class="spotthumb2"></div>
                <label class="spotname2">Peter Coyote Curso de Culinária</label>
                <label class="spotaddress2">Rua São João Batista, 251</label>
                <label class="spotplace2">2°</label>
                </div>
                <div class="rankspot2">
                <div class="spotthumb2"></div>
                <label class="spotname2">Peter Coyote Curso de Culinária</label>
                <label class="spotaddress2">Rua São João Batista, 251</label>
                <label class="spotplace2">3°</label>
                </div>
                <div class="rankspot2">
                <div class="spotthumb2"></div>
                <label class="spotname2">Peter Coyote Curso de Culinária</label>
                <label class="spotaddress2">Rua São João Batista, 251</label>
                <label class="spotplace2">4°</label>
                </div>
                <div class="rankspot2">
                <div class="spotthumb2"></div>
                <label class="spotname2">Peter Coyote Curso de Culinária</label>
                <label class="spotaddress2">Rua São João Batista, 251</label>
                <label class="spotplace2">5°</label>
                </div>
            </div>
            <div class="rankcard" id="rank2">
                <h3 class="insidetitle">Produtos: Categoria do Estabelecimento</h3>
                </div>
            <div class="rankcard" id="rank3">
                <h3 class="insidetitle">Categorias de Interesse</h3>
                </div>
            <div class="rankcard" id="rank4">
                <h3 class="insidetitle">Eficiência</h3>
                </div>
            <div class="rankcard" id="rank5">
                <h3 class="insidetitle">Campanhas</h3>
                </div>
            </div>
            
            <div class="fixedcard2">
            <h3 class="fixedtitle">Divulgação</h3>
            <h4 class="fixedsub">Usuários Alcançados</h3>
                <div class="cardcontent">
                <div id="myfirstchart" style="height: 280px; width: 700px; top: 40px; left: 270px;"></div>
                
                </div>
            </div>
            
            <div class="cardlocation">
            <h3 class="cardtitle">Estabelecimento</h3>
            <h3 class="ctopened">Estabelecimento</h3>
            <div class="cardcontent">
            <div class="localprofile">
            <div class="imageupload">
            </div>
            <p class="namelocal">Padaria JáPão</p>
                <p class="address">Rua Real Grandeza, 183<br>Botafogo - Rio de Janeiro
                </p>
            <textarea class="phone" type="number" rows="6" cols="30" placeholder="Atualize seu telefone..." maxlength="300"></textarea>
            <textarea class="describe" rows="6" cols="30" placeholder="Atualize sua descrição..." maxlength="300"></textarea>
            <button class="save">Salvar</button>
            </div>
            <div class="viewstats">
            <div class="carouselstats">						
			<input type="radio" name="slidesstats" id="stats-1" checked>
			<input type="radio" name="slidesstats" id="stats-2">
			<input type="radio" name="slidesstats" id="stats-3">
			<ul class="slidesstats">
				<div class="slidestats">
                <p class="numcount">37</p>
                <p>Número de Leituras</p>
                </div> 
                <div class="slidestats">
                <p class="numcount">158</p>
                <p>Número de Favoritos</p>
                </div>
                <div class="slidestats">
                <p class="numcount">49</p>
                <p>Número de Iria de Novo</p>
                </div>
			</ul>
			<div class="slidesNavigationstats">
				<label for="stats-1" id="dotForstats-1"></label>
				<label for="stats-2" id="dotForstats-2"></label>
				<label for="stats-3" id="dotForstats-3"></label>
			</div>
            </div>		
            </div>
            <div class="aroundme">
            <p>Usuários ao meu redor</p>
                <div style='overflow:hidden;height:180px;width:350px;'><div id='gmap_canvas' style='height:180px;width:350px;'></div><div></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
            </div>
            </div>
            </div>
            
            <div class="cardproduct">
            <h3 class="cardtitle">Produtos</h3>
            <h3 class="ctopened">Produtos</h3>
            <div class="productcontent">
                
            <div class="productbox">
            <div class="productimage"></div>
            <h3 class="titleproduct">Pão Doce</h3>
            <button class="delete">x</button>
            </div>
                
                <div class="productbox">
            <div class="productimage"></div>
            <h3 class="titleproduct">Pão Doce</h3>
            <button class="delete">x</button>
            </div>
        
                  <div class="productbox">
            <div class="productimage"></div>
            <h3 class="titleproduct">Pão Doce</h3>
            <button class="delete">x</button>
            </div>
                
                  <div class="productbox">
            <div class="productimage"></div>
            <h3 class="titleproduct">Pão Doce</h3>
            <button class="delete">x</button>
            </div>
                
                  <div class="productbox">
            <div class="productimage"></div>
            <h3 class="titleproduct">Pão Doce</h3>
            <button class="delete">x</button>
            </div>
                
                <div class="productbox">
            <div class="productimage"></div>
            <h3 class="titleproduct">Pão Doce</h3>
            <button class="delete">x</button>
            </div>
                
                 <div class="productboxadd">
            <input class="productname" type="text" name="pname" placeholder="Nome do Produto">
            <button class="save">Salvar</button>
            <button class="addimage">+</button>
            </div>
                
                
            </div>  
            </div>
            
            <div class="cardcampaign">
            <h3 class="cardtitle">Campanhas</h3>
            <h3 class="ctopened">Campanhas</h3>
            <div class="cardcontent"></div>
            </div>
            
              <div class="cardgalery">
            <h3 class="cardtitle">Galeria</h3>
            <h3 class="ctopened">Galeria</h3>
            <div class="cardcontent"></div>
            </div>
            
              <div class="cardpromotion">
            <h3 class="cardtitle">Promoções</h3>
            <h3 class="ctopened">Promoções</h3>
            <div class="cardcontent"></div>
            </div>
            
              <div class="cardnotify">
            <h3 class="cardtitle">Notificações</h3>
            <h3 class="ctopened">Notificações</h3>
            <div class="cardcontent">
            <div class="createpush">
            <p class="labelpush">Escolha a área de sua notificação:</p>
                <input type="radio" name="searchradius" value="200m" id="radius1" checked class="option-searchradius">
                <label id="200m" class="lb-searchradius" for="radius1">200m</label>
                <input type="radio" name="searchradius" value="500m" id="radius2" class="option-searchradius">
                <label id="500m" class="lb-searchradius" for="radius2">500m</label>
                <input type="radio" name="searchradius" value="1km" id="radius3" class="option-searchradius">
                <label id="1km" class="lb-searchradius" for="radius3">1km</label>
            
            <p class="labelpush">Digite o texto da notificação:</p>
            <textarea class="push" rows="4" cols="30" placeholder="Envie uma notificação e atraia mais clientes..." maxlength="110"></textarea>
            <button id="sendpush" class="pushbuttons">Enviar</button>
            <button id="cancelpush" class="pushbuttons">Limpar</button>
            </div>
            <div class="histpush">
            <p>Últimas Notificações</p>
            
                <div class="pushnotify">
                <div class="localimage">
                  </div>
                  <div class="appicon"></div>
                  <p class="appname">Opa!</p>
                  <p class="localname">Padaria JáPão</p>
                  <p class="pushmessage">Está por perto? Que tal provar o novo cafézinho com pão francês?</p>
                </div>
                
                <div class="pushnotify">
                <div class="localimage">
                  </div>
                  <div class="appicon"></div>
                  <p class="appname">Opa!</p>
                  <p class="localname">Padaria JáPão</p>
                  <p class="pushmessage">Está por perto? Que tal provar o novo cafézinho com pão francês?</p>
                </div>
                
                <div class="pushnotify">
                <div class="localimage">
                  </div>
                  <div class="appicon"></div>
                  <p class="appname">Opa!</p>
                  <p class="localname">Padaria JáPão</p>
                  <p class="pushmessage">Está por perto? Que tal provar o novo cafézinho com pão francês?</p>
                </div>
                
                <div class="pushnotify">
                <div class="localimage">
                  </div>
                  <div class="appicon"></div>
                  <p class="appname">Opa!</p>
                  <p class="localname">Padaria JáPão</p>
                  <p class="pushmessage">Está por perto? Que tal provar o novo cafézinho com pão francês?</p>
                </div>
                  
                </div>
            
            <div class="viewpush">
            <div class="carousel">						
			<input type="radio" name="slides" id="radio-1" checked>
			<input type="radio" name="slides" id="radio-2">
			<input type="radio" name="slides" id="radio-3">
			<ul class="slides">
				<div class="slide">
                <p class="numcount">37</p>
                <p>Notificações Enviadas</p>
                </div> 
                <div class="slide">
                <p class="numcount">158</p>
                <p>Notificações Visualizadas</p>
                </div>
                <div class="slide">
                <p class="numcount">49</p>
                <p>Notificações Canceladas</p>
                </div>
			</ul>
			<div class="slidesNavigation">
				<label for="radio-1" id="dotForRadio-1"></label>
				<label for="radio-2" id="dotForRadio-2"></label>
				<label for="radio-3" id="dotForRadio-3"></label>
			</div>
</div>		
            </div>
            </div>
            </div>
            
        </section>
        
    </body>
    <script>
    new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { month: '2016-01', value: 30 },
    { month: '2016-02', value: 48 },
    { month: '2016-03', value: 90 },
    { month: '2016-04', value: 129 },
    { month: '2016-05', value: 218 },
    { month: '2016-06', value: 218 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'month',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  xLabels: ['month'],
  labels: ['Usuários']
});
    </script>
</html>
